/script src="js/term.js"
script src="js/require.js"
script src="js/ace-builds/src-noconflict/ace.js"
script src="js/ace-builds/src-noconflict/ext-modelist.js"
script src="js/ace-builds/src-noconflict/ext-language_tools.js"
script src="js/tinyemu/riscvemu64-wasm.js"
script src="js/compiled-xterm.js" 
script src="js/compiled-rawrs.js" 
